.checkbox-container {
    padding: 5px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

.checkbox-container label {
    margin-left: 27px;
}

.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-container .checkmark {
    position: absolute;
    top:7px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 1px 1px var(--w-green-dark), 2px 2px var(--w-black-dark), inset 0 0 0 1px var(--w-indigo-dark);
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox-container input[type='checkbox']:disabled~.checkmark {
    filter: grayscale(1);
    border: 2px dashed ;
    box-shadow: 1px 1px var(--w-red-dark), 2px 2px var(--w-red-dark);
}

.checkbox-container .checkmark:hover {
    box-shadow: 2px 2px var(--w-green-light), 
        3px 3px var(--w-black-dark), 
        inset 0 0 0 1px var(--w-indigo-dark);
}

.checkbox-container input[type="checkbox"]:checked~.checkmark {
    background-color: var(--w-blue-light);
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    box-shadow: 3px 1px 1px;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid var(--w-yellow);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container input[type="checkbox"]:checked~.checkmark:after {
    display: block;
}