.dialog-container {
}
.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog-dialog {
  background: white;
  border-radius: 4px;
  padding: 20px;
  min-width: 300px;
}

.dialog-title {
  margin-top: 0;
}

.dialog-content {
  margin-top: 20px;
}

.dialog-close-button {
  position: fixed;
  top: 10px;
  right: 10px;
}
.dialog-close-button:focus {
  border: 1px dashed black;
}