@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --w-white-light: #fffefe;
    --w-white-dark: #e6e6e6;
    --w-white: var(--w-white-light);

    --w-black-light: #161616;
    --w-black-dark: #000000;
    --w-black: var(--w-black-light);

    --w-red-light: #f87171;
    --w-red-dark: #7f1d1d;
    --w-red: var(--w-red-light);

    --w-orange-light: #f59e0b;
    --w-orange-dark: #a67000;
    --w-orange: var(--w-orange-light);

    --w-yellow-light: #ffcc00;
    --w-yellow-dark: #a69600;
    --w-yellow: var(--w-yellow-light);

    --w-green-light: #84cc16;
    --w-green-dark: #00a600;
    --w-green: var(--w-green-light);

    --w-blue-light: #73bcec;
    --w-blue-dark: #1e3a8a;
    --w-blue: var(--w-blue-light);

    --w-indigo-light: #888afd;
    --w-indigo-dark: #312e81;
    --w-indigo: var(--w-indigo-light);

    --w-violet-light: #c084fc;
    --w-violet-dark: #581c87;
    --w-violet: var(--w-violet-light);
    --w-box-shadow: 2px 2px var(--w-green-dark), 4px 4px var(--w-black-dark);
}
:focus {
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
}

::-webkit-scrollbar {
    cursor: pointer;
    width: 0.5rem; 
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: var(--w-blue);; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--w-blue-dark);
}